@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --background : #151e31;
  --card: #1d2a44;
  --text: #F8FAFC;
  --secondary-text: #94A3B8;
  --primary: #38BDF8;
}

nav {
  background-color: var(--background);
  padding: 20px 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: var(--primary);
  }
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  font-size: 14px;
}